.header-container{
    display: flex;
    justify-content: left;
    gap: 10px;
    flex-direction: row;
    padding-left: 10vh;
    height: 40px;
    align-items: center;
    background-color: #383a3f;
    position: fixed;
    width: 100%;
  
}

ul{
    list-style-type: none;
   
}
.login-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none; /* Ensure it looks like a button */
    display: inline-block; /* Ensure it looks like a button */
  }
  
  .login-button:hover {
    background-color: #0056b3;
  }
