header {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  height: 6rem;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px);
  z-index: 100;
}

.logo {
  font-size: 2rem;
  width: fit-content;
}

.logo img {
  height: 6rem; 
  width: auto;
  display: block;
  border: 1px solid white;
  border-radius: 50%;
}

nav {
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header-container li {
  margin: 0 10px;
}

.login-btn {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 4px;
}
