#reset-this-root {
  all: unset;
}
.hero-container {
    /* margin: 3rem; */
    min-height: 100vh;
    width: 100%;
    background-image: url(../assets/herobg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;  
    background-position: center; 
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    padding: 2%;  
    box-sizing: border-box;
    border-radius: 1%;
    
  }
  /* .hero-container::before {
    content: '';
     position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
  } */
  .heading{
    right: 0;
    /* top: 0; */
    text-align:left;
    color: rgb(33, 189, 108);
    margin-top: 150px;
    font-size: 8rem;
  }