
.quiz-container {
    /* position: relative;
    background-color: rgba(240, 240, 240, 0.9); */
    /* width: 100%; */
    max-width: 800px;
    /* margin: 2rem auto; */
    /* padding: 2rem; */
    /* background-color: #f0f0f0; */
    /* border-radius: 15px; */
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    overflow: hidden;
  }
  
  /* .quiz-content {
    position: relative;
    z-index: 1;
  } */
  
  .light {
    /* position: absolute; */
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(
      circle at center,
      rgba(255,255,255,0.8) 0%,
      rgba(255,255,255,0) 70%
    );
    animation: moveLight 8s infinite linear;
  }
  
  @keyframes moveLight {
    0% {
      transform: translateX(0) translateY(0);
    }
    25% {
      transform: translateX(50%) translateY(0);
    }
    50% {
      transform: translateX(50%) translateY(50%);
    }
    75% {
      transform: translateX(0) translateY(50%);
    }
    100% {
      transform: translateX(0) translateY(0);
    }
  }
  
  h1 {
    color: #333;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  p {
    color: #666;
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .score {
    margin-top: 2rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    color: #333;
  }
  
  .error-message, .loading-message {
    text-align: center;
    font-size: 1.2rem;
    color: #333;
    margin-top: 2rem;
  }
  .react-quiz-container {
    margin-top: 2rem;
  }
  
  .react-quiz-container .startQuizWrapper {
    margin-bottom: 1rem;
  }
  
  .react-quiz-container .btn {
    background-color: #4CAF50;
    color: rgb(42, 149, 164);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .react-quiz-container .btn:hover {
    background-color: #45a049;
  }
  
  .react-quiz-container .questionWrapper {
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  .react-quiz-container .answerBtn {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .react-quiz-container .answerBtn:hover {
    background-color: #e9e9e9;
  }
  .react-quiz-container .singleselection-tag {
    display: none;
  }
  .tag-container{
    display: none;
    display: inline;
  }