/* .main-page {
  width: 100%;
  overflow-y: auto;
} */

/* section {
  min-height: 100vh; 
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
} */


.quiz-section {
  /* background-color: #e0e0e0; */
}

.articles-section {
  /* background-color: #7ba9de; */
}

.safety-tips-section {
  /* background-color: #c0c0c0; */
}

.resources-section {
  /* background-color: #b0b0b0; */
}